<div class="col-md-12">	
	<form class="form" (submit)="addTodo()">
		<div class="form-group">
			<label for="itemName">Item Name</label>
			<input [(ngModel)]="todoForm.itemName" class="form-control">
		</div>
		<div class="form-group">
			<label for="country">Country</label>
			<select [(ngModel)]="todoForm.country" class="form-control">
				<option *ngFor="#option of countries" value="{{option.id}}">{{option.country}}</option>
			</select>			
		</div>
		<div class="form-group">			
			<input type="submit" value="Add" class="btn btn-primary">
		</div>
	</form>

	<div class="col-md-12">
		<p *ngFor="#item of todoCollection">{{ item.itemName }}</p>
	</div>
</div>