<form class="form" novalidate (submit)="login()">	
	<div class="form-group">
		<label>Email:</label>
		<input [(ngModel)]="loginModel.email" class="form-control" ngControl="email">			
	</div>

	<div class="form-group">
		<label>Password:</label>
		<input [(ngModel)]="loginModel.password" class="form-control" ngControl="password">		
	</div>

	<div class="form-group">		
		<input class="btn btn-primary" type="submit" value="Login">		
	</div>

	<p>{{loginModel | json}}</p>
</form>